body{
	font-size: 16px;
	margin: 0;
	font-family:'Merriweather Sans', sans-serif;
	line-height: 1.4;
	font-weight: 200;
}
a {
	color: #fbfc1b;
	opacity: .7;
}
a:hover {
	color: #9ef42e;
	opacity: .9;
	text-decoration: none;
	transition: all 1s ease-in-out;
}
h1 {
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #101805;
	text-shadow: 1px 1px 1px rgba(158, 244, 46, .4);
}
h2 {
	font-family: 'Audiowide', cursive;
	color: #9ef42e;
	text-align: center;
	text-shadow: 1.5px 1.5px 1.5px rgba(16, 24, 5, .4);
}
p {
	text-align: justify;
	background:#e6c7e6;
}
/*.layout-------------------------------------------------------------*/
.sticky {
	margin: 0 auto;
	position: fixed;
	top: 0;
	background: rgba(64, 88, 98,.8);
	width: 100%;
	z-index: 9999;
}
header{
	max-height: 30%;
}
header
.container
footer {
	margin: 0 auto;
	width: 88%;
	max-width: 320px;
}
.wrapper {
	padding-top: 16em;
	background-color: #99AA88;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}
footer{
	background: rgba(64, 88, 98,.8);
}
p {
	background: rgb(190, 195, 186);
	padding: .5em 1em;
	border:.5em;
	border-radius: 3px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
	transition: all 1s ease-in-out;
}
.main{
	padding-top: 3.5em;
}
section{
	padding-left: .5em;
	padding-right: .5em;
}
section
#workex{
	padding-top: 1em;
}
section
#education{
	padding-top: 1em;
}
section
#contact{
	padding-top: 1em;
}
section
#favourites{
	padding-top: 1em;
}
section,
#melinks{
	padding-top: 1em;
}	
img{
	box-shadow: 3px 3px 5px rgba(16, 24, 5,.6);
}
/*.navigation-------------------------------------------------------------*/
nav ul {
  padding: 0;
  margin: 0 auto;
  max-width: 734px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
nav ul li{
	float: left;
	margin-right: .5em;
	margin-bottom: 1.5em;
	list-style: none;
}
nav ul li a {
	background: rgba(33, 140, 255, .5);
	padding: .5em 1em;
	transition: all 1s ease-in-out;
}
nav ul li a:hover {
	background: #f1fb41;
}
/*.blockquote-------------------------------------------------------------*/
blockquote {
	font: 12px/18px lighter "Oswald", sans-serif;
	padding-left: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
	background: rgba(33, 140, 255,.3);
	color: #fbfc1b;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 5px;
	background-image: url(../images/openquote1.gif);
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: 23px;
	opacity: .6;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
}
  blockquote
  div {
    padding-right: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: right bottom;
  } 
/*.transform-------------------------------------------------------------*/
.scale {
	transition: all 1s ease-in-out;
	background: rgba(190, 195, 186,.8);
}
.scale:hover {
	transform: scale(1.02);
}
/*.floats-------------------------------------------------------------*/
.align-right {
	float: right;
	margin: 1em 0 1em 1em;
}
.align-left {
	float: left;
	margin: 1em 1em 1em 0;
}
.align-center {
	margin: .5em auto;
	display: block;
}
/* List/Custom bullets.
------------------------------------------------------------------------*/
.list-no-bullets {
	padding: 0;
	list-style: none;
}
.bullet {
	height: 16px;
	width: 16px;
	background: url(../images/bullet.png);
	display: inline-block;
	margin: 0 .5em -.2em 0;
}
/*Icons----------------------------------------------------------------*/
.iconstop{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;	
}
.iconstop li {
	position:relative;
	text-align:center;
}
.item span {
	text-align:center;
	position:absolute;
	background:rgba(33, 140, 255,.3);
	padding:-.4em 0 .4em 0;
	bottom:-37px;
	top: 50px;
	left:0;
	width:100%;
}
.iconstop .myicons1{
	height: 64px;
	width: 64px;
	background: url(../icons/flying16.png);
	margin: 1em;
	flex-direction:column;	
}
.myicons2{
	height: 64px;
	width: 64px;
	background: url(../icons/football28.png);
	margin: 1em;	
}
.myicons3{
	height: 64px;
	width: 64px;
	background: url(../icons/man216.png);
	margin: 1em;
}
.myicons4{
	height: 64px;
	width: 64px;
	background: url(../icons/flatscreen.png);
	margin: 1em;
}
.iconsbottom{
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;	
}
.iconsbottom li {
	position:relative;
	text-align:center;
}
.item span {
	text-align:center;
	position:absolute;
	background:rgba(33, 140, 255,.3);
	padding:.7em 0 1.2em 0;
	bottom:0;
	left:0;
	width:100%;
}
.myicons5{
	height: 64px;
	width: 64px;
	background: url(../icons/man288.png);
	margin: 1em;
	flex-direction:column;
}
.myicons6{
	height: 64px;
	width: 64px;
	background: url(../icons/heating5.png);
	margin: 1em;
}
.myicons7{
	height: 64px;
	width: 64px;
	background: url(../icons/wedding21.png);
	margin: 1em;
}
/*Media Query-------------------------------------------------------------*/
@media screen and (min-width: 330px) {
	.sticky{
		max-width: 100%;
	}
	.wrapper{
		padding-top: 7em;
	}
	.main{
		padding-top: 1.7em;
	}
	.secondary{
		padding-top: 3em;
	}	
	nav ul{
		justify-content:center;
		padding: 0;
		margin: 0 auto;
		max-width: 100%;
	}
	img{
		width:475px;
	}
} 
/*-------------------600px MQ------------------*/
@media screen and (min-width: 600px) {
	.main {
		width: 50%;
		float: left;
	}
	.secondary {
		width: 46%;
		float:right;
		border-radius:5px;
		padding: .5em;		
	}
	img {
		width: 100%;
	}
	.iconstop{
		padding-left: 2em;
	}
	.iconsbottom{
		padding-left: 5.5em;
	}
} 
/* Print Media Query---------------------------*/
@media print {	
* {
    color: black;
    text-shadow: none;
    background: transparent;
	}
body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 8pt;
    line-height: 1.5;
    margin: 0.5cm;
    padding: 2em 5em;
	}
.wrapper {
	padding-top: 0;
}
header {
    border-bottom: solid 1pt black;
	}
footer {
    margin-top: 12pt;
    border-top: solid 1pt black;
	}
.main {
	padding-top: none;
	}
.sticky, nav {
    display: none;
	}
a {
    text-decoration: none;
	}
abbr[title] {
    &:after {
        content: " (" attr(title) ")";
    }
	}
h1 {
    font-size: 32pt;
    line-height: 36pt;
    font-weight: normal;
    margin: 16pt 0;
	}
h2 {
    font-size: 24pt;
    line-height: 28pt;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin: 14pt 0;
	}
p {
    orphans: 2;
    widows: 2;
	}
blockquote {
    font-size: 16pt;
    border-left: 3pt solid black;
    padding: 0 0 0 8pt;
    page-break-inside: avoid; /* 1 */
	}
img {
    max-width: 100%;
    page-break-inside: avoid;
	}

.align-center {
        display: block;
        margin: 1em auto;
	}
ul {
    list-style: square;
    margin: 0 0 8pt 1.8em;
	}

}
/* Misc.
------------------------------------------------------------------------*/
.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}